:root {
  --black: #060606;
  --white: #eeeeee;
  --red: #c94059;
  --green: #369981;
  --blue: #3988d1;
  --grey: #b9b9b9;
  --lime: #c9f849;
  --gradient: linear-gradient(90deg, #cd3b81 0%, #3fa990 51.04%, #3988d1 100%);
}

/* ----------------------------
  
  Boilerplate
  
  ---------------------------- */

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  color: var(--black);
  line-height: 150%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding-left: 40px;
}

/* ----------------------------
  
  Project Setup
  
  ---------------------------- */
body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}
